h2 {
    font-family: "Bradley Hand", cursive;
    color: #ffbb5d;
}

.project-info {
    font-family: "Bradley Hand", cursive;
    color: rgb(72, 155, 218);
}

.messaging {
    display: flex;
    text-align: right;
    font-family: "Lucida Console", "Courier New", monospace;;
}

.color1 {
    color: rgb(65, 65, 103);
}

.color2 {
    color: rgb(168, 195, 245);
}

.button {
    background-color: rgb(255, 211, 108);
    border: none;
    color: rgb(42, 130, 173);
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button1 {
    border-radius: 10px;
}