h1 {
    font-family: "Bradley Hand", cursive;
    color: #d6f3ff;
}

.header-title {
    color: rgb(244, 248, 255);
    font-family: "Bradley Hand", cursive;
    font-size: 40px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    height: 100%;
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.navbar {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.list_item {
    flex: 0 1 auto;
}

.vertical-menu a {
    background-color: rgb(255, 243, 233);
    color: #f7fbff;
    text-shadow: 1.5px 1.5px 1.5px rgb(58, 76, 96);
    display: inline-grid;
    padding: 20p;
    text-decoration: none;
    font-size: 25px;

}

.vertical-menu a:hover {
    background-color: #e9e9e9;;
}

.projectName {
    color: rgb(133, 151, 248);
    font-family: "Bradley Hand", cursive;
    text-decoration: none;
}

.button {
    background-color: white;
    border: none;
    color: rgb(96, 152, 255);
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button1 {
    border-radius: 10px;
}