body {
    background-color: rgb(255, 238, 223) !important;
    display: flex;
    flex-direction: column;
    height: 100%;
}


.navbar {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 82vh;
}

.list_item {
    flex: 0 1 auto;
}

.projectName {
    color: rgb(133, 151, 248);
    font-family: "Bradley Hand", cursive;
    text-decoration: none;
}