h1 {
    color: rgb(106, 176, 255);
}

.parent {
    display: flex;
}

.ml-auto {
    margin-left: auto;
}

.box_input {
    display: flex;
    font-family: "Bradley Hand", "Comic Sans MS", cursive;
    padding: 10px;
    color: rgb(122, 164, 255);
}
