h2 {
    font-family: "Bradley Hand", "Comic Sans MS", cursive;
    color: #ffbb5d;
    padding-top: 50px;
}

.project-info {
    font-family: "Bradley Hand", "Comic Sans MS", cursive;
    color: rgb(72, 155, 218);
    padding-right: 10px;
}

.fact {
    font-family: "Bradley Hand", "Comic Sans MS", cursive;
    color: rgb(99, 99, 99);
    padding-top: 20px
}

.messaging {
    display: flex;
    text-align: right;
    font-family: "Lucida Console", "Courier New", monospace;;
}

.color1 {
    color: rgb(65, 65, 103);
}

.color2 {
    color: rgb(168, 195, 245);
}

.button {
    background-color: rgb(255, 226, 158);
    border: none;
    color: rgb(42, 130, 173);
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    justify-content: space-between;
}

.button1 {
    border-radius: 10px;
}