h1 {
    font-family: "Bradley Hand", "Comic Sans MS", cursive;
    color: #d6f3ff;
}

.header-title {
    color: rgb(244, 248, 255);
    font-family: "Bradley Hand", "Comic Sans MS", cursive;
    font-size: 40px;
}

.list_item {
    flex: 0 1 auto;
}


.vertical-menu a {
    background-color: rgb(255, 243, 233);
    color: #f1faff;
    text-shadow: 1px 1px 1px rgb(25, 171, 255);
    padding: 20p;
    text-decoration: none;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-menu a:hover {
    background-color: #e9e9e9;;
}

.projectName {
    color: rgb(133, 151, 248);
    font-family: "Bradley Hand", "Comic Sans MS", cursive;
    text-decoration: none;
    align-self:center;
}

.button {
    background-color: white;
    border: none;
    color: rgb(96, 152, 255);
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button1 {
    border-radius: 10px;
}